.fade.in {
  opacity: 1;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex: auto;
}

#content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

#main {
  flex: auto;
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
}

#messages {
  min-height: 10em;
  max-height: 36em;
  flex: auto;
  overflow: auto;
  padding: 0.3em;
}

.messages__currentUser {
  color: #777;
}

#messageForm {
}
