.fade.in.modal-backdrop {
  opacity: 0.55;
}
.fade.in {
  opacity: 1;
}
.modal-dialog {
  padding-top: 20%;
}


/* html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
}

#content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

#main {
  flex: auto;
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
} */

#messages {
  min-height: 10em;
  /* flex: auto; */
  overflow: auto;
  /* padding: 0.3em; */
}

.messages__currentUser {
  color: #777;
}

/* #messageForm {
} */

.icon {
  height: .75em;
  width: .75em;
  margin-bottom: .05em;
}

/* flex-direction: row | row-reverse | column | column-reverse */
